*{
    font-family: sans-serif;
}

body {
    background: linear-gradient(0.25turn, #09b0da, #ca5485, #3d4ada);
}

.text{
    color: white;
}

.text .title{
    text-align: center;
    margin-top: 60px;
    font-size: 35px;
}

.text .desc{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.text .xyz{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.images{
    margin-top: -40px;
}

.python{
    height: 200px;
    width:400px;
}

.html{
    height: 205px;
    width:  205px;
    margin-top: 20px;
    margin-left: 28%;
}

.links .title{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.css{
    height: 200 px;
    width:  200px;
    margin-top: 75px;
    margin-right: 15%;
}

.links .github{
   margin-top: 25px;
}

.links .title button{
    border-color: 4px solid black;
    padding: 20px 40px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 6px 3px;
    transition: 0.5s all ease;
    color: white;
    background: #000;
    cursor: pointer;
}

.links .title button:hover {
    background: #fff;
    border-color: 4px solid white;
    color: #000;
}